/* Estilos generales */
.filtros {
  margin-bottom: 20px;
}

.turnos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilos para los botones */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para los elementos de turno */
.turno {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Estilos para los campos de texto */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Ajustes específicos */
.turno p {
  margin: 0;
}

/* Estilos para los botones dentro de .turno */
.turno button {
  margin-top: 10px;
}

/* Estilos para la reseña */
.turno .mostrarresenia p {
  font-style: italic;
}