/* Estilos generales */
.filtros {
  margin-bottom: 20px;
}

.turnos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilos para los botones */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para los elementos de turno */
.turno {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Estilos para los campos de texto */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Ajustes específicos */
.turno p {
  margin: 0;
}

/* Estilos para los botones dentro de .turno */
.turno button {
  margin-top: 10px;
}

/* Estilos para la reseña */
.turno .mostrarresenia p {
  font-style: italic;
}

.btn-eliminar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

.btn-eliminar:hover {
  color: darkred;
}
textarea {
  width: 100%;
  margin-top: 5px;
}

.calificacion {
  display: flex;
  align-items: center;
}

.calificacion p {
  margin: 0;
  margin-right: 10px;
}

.estrella {
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
}

.estrella.seleccionada {
  color: gold;
}

