<div class="filtros">
  <input 
    type="text" 
    placeholder="Buscar..." 
    [(ngModel)]="filtroGeneral" 
    (input)="aplicarFiltro()" 
  />
</div>

<div class="turnos">
  <div *ngFor="let turno of turnos | filtrarDatos: ['especialidad', 'especialistaNombre', 'estado', 'comentario', 'calificacion']: filtroGeneral" class="turno">
    <p>Especialidad: {{ turno.especialidad }}</p>
    <p>Especialista: {{ turno.especialistaNombre }}</p>
    <p>Fecha y Hora: {{ turno.fechaHora| date: 'short' }}</p>
    <p>Estado: {{ turno.estado }}</p>
    <p *ngIf="turno.comentario">Comentario: {{ turno.comentario }}</p>
    <p *ngIf="turno.calificacion">Calificación: {{ turno.calificacion }}</p>

    <button   (click)="eliminarTurno(turno.id)">✖</button>

    <div *ngIf="turno.estado !== 'realizado'">
      <button (click)="toggleCancelarTurno(turno)">
        {{ turno.mostrarcomentario ? 'No Cancelar' : 'Cancelar Turno' }}
      </button>
      <div *ngIf="turno.mostrarcomentario">
        <textarea [(ngModel)]="turno.comentario" placeholder="Razón de cancelación"></textarea>
        <button (click)="cancelarTurno(turno)">Confirmar Cancelación</button>
      </div>
    </div>
    
    <!-- <button *ngIf="turno.comentario && !turno.mostrarresenia" (click)="verResenia(turno)">Ver Reseña</button>
    <div *ngIf="turno.mostrarresenia">
      <p>Reseña: {{ turno.comentario }}</p>
      <button (click)="turno.mostrarresenia = false">Ocultar Reseña</button>
    </div> -->
    <!-- <button *ngIf="turno.estado === 'realizado'" (click)="completarEncuesta(turno)">Completar Encuesta</button> -->
    
    <div *ngIf="turno.estado === 'realizado'" class="calificacion">
      <p>Calificar Atención:</p>
      <span 
        *ngFor="let estrella of [1, 2, 3, 4, 5]" 
        class="estrella" 
        [class.seleccionada]="turno.calificacion >= estrella"
        (click)="calificarAtencion(turno, estrella)"
      >☆</span>
    </div>
  </div>
</div>
