/* Estilos globales */
.turno {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.turno:hover {
  background-color: #f0f0f0;
}

.turno h3 {
  margin: 0;
}

.turno p {
  margin: 0;
}

.turno button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.turno button:hover {
  background-color: #45a049;
}

.turno button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.turno button:disabled:hover {
  background-color: #cccccc;
}

.turno .error {
  color: red;
  font-size: 12px;
}

/* .turno-info {
  display: flex;
  justify-content: space-between;
} */


