.contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    background-color: rgba(11, 122, 122, 0.344);
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .historia-clinica {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .historia-clinica p {
    margin-bottom: 5px;
  }
  
  .historia-clinica strong {
    font-weight: bold;
  }
  
  .datos-dinamicos {
    margin-top: 10px;
  }
  
  .datos-dinamicos p {
    margin-bottom: 0;
  }

  .botonUltimosAtendidos {
    margin-top: 20px;
    margin-left: 10px;
    color: burlywood;
    background-color: #0b7a7a;
    border: 1px solid #0b7a7a;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    
  }