<div class="home-container">
  <div class="header">
    <h1 >Administración de Usuarios</h1>
    <button appResaltaTexto (click)="cerrarSesion()" class="btn-logout">Cerrar sesión</button>
  </div>

  <div class="table-container">
    <label>
      <input type="checkbox" [(ngModel)]="mostrarSoloAdmins" />
      Mostrar solo administradores
    </label>

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Último inicio de sesión</th>
          <th>Es Admin</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of (usuarios$ | async | filtrarAdmin: mostrarSoloAdmins)">
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.mail }}</td>
          <td>{{ usuario.lastLogin | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <input type="checkbox" [checked]="usuario.esAdmin" (change)="cambiarAdmin(usuario)" />
          </td>
          <td>
            <button class="botonEliminar" appResaltaTexto (click)="eliminarUsuario(usuario)">Eliminar</button>
          </td>
        </tr>
        <tr>
          <td colspan="5">Cantidad de usuarios en total: {{ totalUsuarios }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="botonEstadisticas-contenedor">
    <button class="botonEstadisticas" appResaltaTexto (click)="mostrarOcultarEstadisticas()">Ver Estadísticas</button>
    <app-estadisticas *ngIf="mostrarEstadisticas"></app-estadisticas>
  </div>
</div>
