.home-container {
  background-image: url("../../../assets/imagenes/padreehijo.jpg");
  background-size: cover;
  background-position: center;
  color: #fff; /* Cambiado a blanco para mejor contraste */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.7); /* Más opacidad para resaltar el texto */
  padding: 40px;
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: space-between; /* Alinea el título y el botón de cierre de sesión */
  align-items: center;
}

h1 {
  font-size: 3rem; /* Tamaño más grande para el título */
}

.btn {
  display: inline-block;
  padding: 15px 30px; /* Más padding para botones más grandes */
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  margin-bottom: 20px; /* Espacio entre botones */
}

.btn-primary {
  background-color: #007bff; /* Color primario más vibrante */
}

.btn-primary:hover {
  background-color: #0056b3; /* Color al pasar el mouse más oscuro */
}

.btn-logout {
    position: absolute;
    top: 20px; 
    right: 20px; 
    padding: 10px 20px;
    font-size: 1.2rem;
}

.btn-logout:hover {
    background-color: #c82333;
}
