<div *ngIf="usuario" class="container">
  <h2>Mi Perfil</h2>
  <!-- Información del usuario -->
  <div>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
    <p><strong>DNI:</strong> {{ usuario.dni }}</p>
    <p><strong>Edad:</strong> {{ usuario.edad }}</p>
    <p><strong>Obra Social:</strong> {{ usuario.obraSocial || 'No especificada' }}</p>
    <p><strong>Especialidades:</strong> {{ usuario.especialidad.join(', ') }}</p>
    <p><strong>Correo Electrónico:</strong> {{ usuario.mail }}</p>

    <!-- Horarios -->
    <p><strong>Horarios:</strong></p>
    <ul>
      <li *ngFor="let dia of disponibilidadHoraria">
        <strong>{{ dia.dia }}:</strong>
        <ul>
          <li *ngFor="let horario of dia.horarios">
            {{ horario.inicio }} - {{ horario.fin }}
          </li>
        </ul>
      </li>
    </ul>

    <!-- Imágenes -->
    <div *ngIf="imagenes.length">
      <div *ngFor="let imagen of imagenes">
        <img [src]="imagen" alt="Imagen" style="width: 50rem; height: 48rem;">
      </div>
    </div>

    <!-- Horarios del especialista -->
    <div *ngIf="esEspecialista">
      <h3>Mis Horarios</h3>
      <div *ngFor="let dia of disponibilidadHoraria; let diaIndex = index">
        <p><strong>{{ dia.dia }}:</strong></p>
        <div *ngFor="let horario of dia.horarios; let horarioIndex = index">
          <input type="time" [(ngModel)]="dia.horarios[horarioIndex].inicio">
          <input type="time" [(ngModel)]="dia.horarios[horarioIndex].fin">
          <button (click)="eliminarHorario(diaIndex, horarioIndex)">Eliminar Horario</button>
        </div>
        <button (click)="agregarHorario(diaIndex)">Agregar Horario</button>
      </div>
      <br><br><br>
      <button (click)="guardarDisponibilidad()" style="color: chartreuse;">Guardar Disponibilidad</button>
    </div>
  </div>

  <!-- Historia clínica -->
<div class="historias-clinicas">
  <h2>Historia Clínica</h2>
  <!-- Select para elegir la especialidad -->
  <label for="especialidad">Selecciona una especialidad:</label>
  <select id="especialidad" [(ngModel)]="especialidadSeleccionada" (change)="filtrarHistoriasClinicas()">
    <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
  </select>
  
  <div *ngIf="historiaClinicaReciente">
    <p><strong>Fecha:</strong> {{ historiaClinicaReciente.fecha | date: 'short' }}</p>
    <p><strong>Altura:</strong> {{ historiaClinicaReciente.altura }} cm</p>
    <p><strong>Peso:</strong> {{ historiaClinicaReciente.peso }} kg</p>
    <p><strong>Temperatura:</strong> {{ historiaClinicaReciente.temperatura }} °C</p>
    <p><strong>Presión:</strong> {{ historiaClinicaReciente.presion }}</p>
    <div *ngFor="let dato of historiaClinicaReciente.datosDinamicos">
      <p><strong>{{ dato.clave }}:</strong> {{ dato.valor }}</p>
    </div>
  </div>
</div>

<button (click)="generatePDF()">Descargar Historia Clínica en PDF</button>
</div>