<div *ngIf="usuario" class="container">
  <h2>Mi Perfil</h2>
  <!-- Información del usuario -->
  <div>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
    <p><strong>DNI:</strong> {{ usuario.dni }}</p>
    <p><strong>Edad:</strong> {{ usuario.edad }}</p>
    <p><strong>Obra Social:</strong> {{ usuario.obraSocial || 'No especificada' }}</p>
    <p><strong>Correo Electrónico:</strong> {{ usuario.mail }}</p>

     <!-- Imágenes -->
     <div *ngIf="imagenes.length">
      <div *ngFor="let imagen of imagenes" class="imagen-container">
        <img [src]="imagen" alt="Imagen" class="perfil-imagen">
      </div>
    </div>
  </div>
    
    <div *ngIf="esEspecialista">
      <p><strong>Especialidades:</strong> {{ usuario.especialidad.join(', ') }}</p>
      <h3>Mis Horarios</h3>
      <div *ngFor="let dia of disponibilidadHoraria | ordenarDias; let diaIndex = index" class="dia-container">
        <p><strong>{{ dia.dia }}:</strong></p>
        <div *ngFor="let horario of dia.horarios; let horarioIndex = index" class="horario-container">
          <input type="time" [(ngModel)]="dia.horarios[horarioIndex].inicio" class="time-input">
          <input type="time" [(ngModel)]="dia.horarios[horarioIndex].fin" class="time-input">
          <button (click)="eliminarHorario(diaIndex, horarioIndex)" class="btn btn-danger">Eliminar</button>
        </div>
        <button (click)="agregarHorario(diaIndex)" class="agregarHorario">Agregar Horario</button>
      </div>
      <br>
      <button (click)="guardarDisponibilidad()" class="btn btn-primary guardar-btn">Guardar Disponibilidad</button>
    </div>
   
  <div *ngIf="!esEspecialista">
    <!-- Selección de especialidad -->
    <div>
      <h3>Seleccionar Especialidad</h3>
      <select [(ngModel)]="especialidadSeleccionada" (change)="filtrarHistoriasClinicas()">
        <option value="">Todas las especialidades</option>
        <option *ngFor="let especialidad of especialidades" [value]="especialidad">
          {{ especialidad }}
        </option>
      </select>
    </div>

    <div class="historias-clinicas">
      <h3>Historias Clínicas</h3>
      <div *ngFor="let historia of historiasClinicasFiltradas" class="historia-clinica">
        <p><strong>Fecha:</strong> {{ historia.fecha | date: 'short' }}</p>
        <p><strong>Altura:</strong> {{ historia.altura }} cm</p>
        <p><strong>Peso:</strong> {{ historia.peso }} kg</p>
        <p><strong>Temperatura:</strong> {{ historia.temperatura }} °C</p>
        <p><strong>Presión:</strong> {{ historia.presion }}</p>
        <p><strong>Especialidad:</strong> {{ historia.especialidad }}</p>
        <div *ngFor="let dato of historia.datosDinamicos" class="datos-dinamicos">
          <p><strong>{{ dato.clave }}:</strong> {{ dato.valor }}</p>
        </div>
      </div>
    </div>

    <!-- Botón para generar PDF -->
    <button (click)="generatePDF()">Descargar Historia Clínica en PDF</button>
  </div>
</div>
