<div *ngIf="usuario" class="container">
  <h2>Mi Perfil</h2>
  <!-- Información del usuario -->
  <div>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
    <p><strong>DNI:</strong> {{ usuario.dni }}</p>
    <p><strong>Edad:</strong> {{ usuario.edad }}</p>
    <p><strong>Obra Social:</strong> {{ usuario.obraSocial || 'No especificada' }}</p>
    <p><strong>Correo Electrónico:</strong> {{ usuario.mail }}</p>
    
    <div *ngIf="esEspecialista">
    <p><strong>Especialidades:</strong> {{ usuario.especialidad.join(', ') }}</p>
    <!-- Horarios -->
    <p><strong>Horarios:</strong></p>
    <ul>
      <li *ngFor="let dia of disponibilidadHoraria">
        <strong>{{ dia.dia }}:</strong>
        <ul>
          <li *ngFor="let horario of dia.horarios">
            {{ horario.inicio }} - {{ horario.fin }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
    <!-- Imágenes -->
    <div *ngIf="imagenes.length">
      <div *ngFor="let imagen of imagenes">
        <img [src]="imagen" alt="Imagen" style="width: 50rem; height: 48rem;">
      </div>
    </div>

    <div *ngIf="esEspecialista">
      <h3>Mis Horarios</h3>
      <div *ngFor="let dia of disponibilidadHoraria; let diaIndex = index">
        <p><strong>{{ dia.dia }}:</strong></p>
        <div *ngFor="let horario of dia.horarios; let horarioIndex = index">
          <input type="time" [(ngModel)]="dia.horarios[horarioIndex].inicio">
          <input type="time" [(ngModel)]="dia.horarios[horarioIndex].fin">
          <button (click)="eliminarHorario(diaIndex, horarioIndex)">Eliminar Horario</button>
        </div>
        <button (click)="agregarHorario(diaIndex)">Agregar Horario</button>
      </div>
      <br><br><br>
      <button (click)="guardarDisponibilidad()" style="color: chartreuse;">Guardar Disponibilidad</button>
    </div>
  </div>
  <div *ngIf="!esEspecialista">
    <!-- Selección de especialidad -->
    <div>
      <h3>Seleccionar Especialidad</h3>
      <select [(ngModel)]="especialidadSeleccionada" (change)="filtrarHistoriasClinicas()">
        <option value="">Todas las especialidades</option>
        <option *ngFor="let especialidad of especialidades" [value]="especialidad">
          {{ especialidad }}
        </option>
      </select>
    </div>

    <div class="historias-clinicas">
      <h3>Historias Clínicas</h3>
      <div *ngFor="let historia of historiasClinicasFiltradas" class="historia-clinica">
        <p><strong>Fecha:</strong> {{ historia.fecha | date: 'short' }}</p>
        <p><strong>Altura:</strong> {{ historia.altura }} cm</p>
        <p><strong>Peso:</strong> {{ historia.peso }} kg</p>
        <p><strong>Temperatura:</strong> {{ historia.temperatura }} °C</p>
        <p><strong>Presión:</strong> {{ historia.presion }}</p>
        <p><strong>Especialidad:</strong> {{ historia.especialidad }}</p>
        <div *ngFor="let dato of historia.datosDinamicos" class="datos-dinamicos">
          <p><strong>{{ dato.clave }}:</strong> {{ dato.valor }}</p>
        </div>
      </div>
    </div>

    <!-- Botón para generar PDF -->
    <button (click)="generatePDF()">Descargar Historia Clínica en PDF</button>
  </div>
</div>