<form [formGroup]="form" (ngSubmit)="registrar()">
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text">
  </div>
  <div>
    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text">
  </div>
  <div>
    <label for="dni">DNI:</label>
    <input id="dni" formControlName="dni" type="text">
  </div>
  <div>
    <label for="edad">Edad:</label>
    <input id="edad" formControlName="edad" type="number">
  </div>
  <div formArrayName="especialidades">
    <label for="especialidades">Especialidades:</label>
    <div *ngFor="let especialidadGroup of especialidadesArray.controls; let i = index" [formGroupName]="i" class="especialidad-item">
      <select formControlName="especialidad">
        <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
        <option value="Otra">Otra</option>
      </select>
      <input *ngIf="especialidadesArray.at(i).get('especialidad').value === 'Otra'" formControlName="otraEspecialidad" type="text">
      <button type="button" (click)="eliminarEspecialidad(i)" class="btn-quitar">Quitar</button>
    </div>
    <button type="button" (click)="agregarEspecialidad()">Agregar Especialidad</button>
  </div>
  <div>
    <label for="mail">Mail:</label>
    <input id="mail" formControlName="mail" type="email">
  </div>
  <div>
    <label for="clave">Contraseña:</label>
    <input id="clave" formControlName="clave" type="password">
  </div>
  <div>
    <label for="imagen">Imagen de Perfil:</label>
    <input class="buttonSeleccionarArchivo" id="imagen" type="file" (change)="onFileChange($event)" multiple>
  </div>
  <button type="submit">Registrar</button>
  <div *ngIf="mensajeError">{{ mensajeError }}</div>
</form>
