
::view-transition-old(root) {
    animation: exit  2s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
    animation: enter  3s ease 0s 1 normal forwards;
}


@keyframes enter {
	from{
		 
		opacity: 0;
		transform: translateY(-50px);
	}
    to{
        opacity: 1;
        transform: translateY(0);
    }

	
}

@keyframes exit {
	from {
		 
			transform: translateX(0);
		}
	
		to {
			transform: translateX(100px);
		}
}