
::view-transition-old(root) {
    animation: exit  2s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
    animation: enter  3s ease 0s 1 normal forwards;
}


@keyframes enter {
	from{
		 
		opacity: 0;
		transform: translateY(-50px);
	}
    to{
        opacity: 1;
        transform: translateY(0);
    }

	
}

@keyframes exit {
	from {
		 
			transform: translateX(0);
		}
	
		to {
			transform: translateX(100px);
		}
}

 
body.modo-oscuro {
	background-color: #052738f8;
	color: #565656;
  }
  
  body.modo-oscuro a {
	color: #bb86fc;
  }
  
  body.modo-oscuro button {
	background-color: #333333;
	color: #ffffff;
  }

  body.modo-oscuro .navbar {
	background-color: #333333;
	border-bottom: 1px solid #000000;
  }
  
  body.modo-oscuro .navbar h3 {
	color: #ffffff;
  }

  body.modo-oscuro .modo-oscuro-btn img {
	filter: invert(1);
  }

  body.modo-oscuro .card {
	background-color: #333333;
	color: #625959;
  }
  
  body.modo-oscuro .card h5 {
	color: #ffffff;
  }

  body.modo-oscuro .card button {
	background-color: #333333;
	color: #ffffff;
  }

  body.modo-oscuro .card button:hover {
	background-color: #000000;
  }

  body.modo-oscuro .card button:active {
	background-color: #000000;
  }

  body.modo-oscuro .card button:focus {
	background-color: #000000;
  }

  body.modo-oscuro .card button:disabled {
	background-color: #333333;
	color: #ffffff;
  }

  