
::view-transition-old(root) {
    animation: exit  2s ease 0s 1 normal forwards;
}

::view-transition-new(root) {
    animation: enter  3s ease 0s 1 normal forwards;
}


@keyframes enter {
	from{
		 
		opacity: 0;
		transform: translateY(-50px);
	}
    to{
        opacity: 1;
        transform: translateY(0);
    }

	
}

@keyframes exit {
	from {
		 
			transform: translateX(0);
		}
	
		to {
			transform: translateX(100px);
		}
}

/* styles.css o styles.scss */
body.modo-oscuro {
	background-color: #121212;
	color: #ffffff;
  }
  
  body.modo-oscuro a {
	color: #bb86fc;
  }
  
  body.modo-oscuro button {
	background-color: #333333;
	color: #ffffff;
  }
  
  /* Agrega más estilos según sea necesario para tu aplicación */
  