<div class="contenedor">
  <div class="especialidades">
    <h2>Especialidades</h2>
    <div class="botones">
      <div *ngFor="let especialidad of especialidades" (click)="seleccionarEspecialidad(especialidad)">
        <button [class.selected]="especialidad === especialidadSeleccionada">
          <img [src]="getEspecialidadImagen(especialidad)" alt="Especialidad">
          <span>{{ especialidad }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="especialistas" *ngIf="especialidadSeleccionada">
    <h2>Especialistas</h2>
    <div class="botones">
      <div *ngFor="let especialista of especialistas" (click)="seleccionarEspecialista(especialista)">
        <button [class.selected]="especialista === especialistaSeleccionado">
          <img [src]="especialista.imagenes[0]" alt="Especialista">
          <span>{{ especialista.nombre }} {{ especialista.apellido }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="turnos" *ngIf="especialistaSeleccionado">
    <h2>Turnos Disponibles</h2>
    <div class="botones">
      <div *ngFor="let turno of turnosDisponibles" (click)="seleccionarTurno(turno)">
        <button [class.selected]="turno === turnoSeleccionado">{{ turno | date: 'dd/MM HH:mm' }}</button>
      </div>
    </div>
  </div>

  <div class="confirmar" *ngIf="turnoSeleccionado">
    <button (click)="confirmarTurno()">Confirmar Turno</button>
    <div class="mensaje" *ngIf="mensajeConfirmacion">
      <p>Turno solicitado con éxito</p> 
    </div>
  </div>
</div>
