<div class="page-container">
    <div class="form-container">
<div>
    <h2>Solicitar Turno</h2>
    <div>
      <label for="especialidad">Especialidad:</label>
      <select id="especialidad" [(ngModel)]="selectedEspecialidad" (change)="actualizarEspecialistas()">
        <option *ngFor="let especialidad of especialidades" [value]="especialidad">
          {{ especialidad }}
        </option>
      </select>
    </div>
    <div>
        <div class="select-container">
      <label for="especialista">Especialista:</label>
      <select id="especialista" [(ngModel)]="selectedEspecialista">
        <option *ngFor="let especialista of especialistasFiltrados" [value]="especialista.uid">
          {{ especialista.nombre }} {{ especialista.apellido }}
        </option>
      </select>
    </div>
    <div>
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" [(ngModel)]="selectedFecha">
    </div>
    <div class="btn-container">
        <button (click)="solicitarTurno()">Solicitar Turno</button>
  </div>
</div>
</div>