/* Personaliza los estilos según tus necesidades */
form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ff10102c;
  

}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #cccccc;
}

.error {
  color: red;
  font-size: 12px;
}


