.contenedor {
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  min-width: 120px;
  min-height: 150px;
}

button img {
  width: 214px;
  height: 230px;
  margin-bottom: 10px;
}

button span {
  margin-top: 5px;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button.selected {
  background-color: #28a745;
  transform: scale(1.1);
}

button:focus {
  outline: none;
}

button.disponible {
  background-color: #28a745;
}

.confirmar button {
  background-color: #28a745;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin-top: 20px;
}

.confirmar button:hover {
  background-color: #218838;
}

.mensaje {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #002beb;
  border-radius: 5px;
}

.mensaje p {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
