h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
  }
  
  .turno {
    background-color: #ecf0f1;
    border-left: 5px solid #3498db;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .turno p {
    color: #34495e;
  }
  
  button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .modal {
      display:none; 
      position:fixed; 
      z-index:1; 
      left:0; 
      top:0; 
      width:100%; 
      height:100%; 
      overflow:auto; 
      background-color:rgb(0,0,0); 
      background-color:rgba(0,0,0,0.4); 
  }
  
  .modal-content {
      background-color:#fefefe; 
      margin:auto; 
      padding:20px; 
      border-radius :4px; 
      width :80%; 
      max-width :500px; 
  }
  
  .close {
      color:#aaa; 
      float:right; 
      font-size :28px; 
      font-weight:bold; 
  }
  
  .close:hover,
  .close:focus {
      color:black; 
      text-decoration:none; 
      cursor:pointer; 
  }
  
  formulario-historia-clinica {
      display: block;
    border: #3498db;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    width: 100%;
  overflow-y: auto;

    height: 100%;
     
  }

  

  
 .inputHistoriaClinica{

    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
 }

.scroll-down {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.mensaje-exito {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 1rem;
}

.bajarPantallaoPagina{
  margin-top: 20px;
  margin-left: 10px;
  color: burlywood;
  background-color: #0b7a7a;
  border: 1px solid #0b7a7a;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}